/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header section styles 
........................*/

/* navbar styles */
nav {
    padding: 87px 120px 50px 120px;
}

nav .bar-hide {
    font-size: 24px;
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-title {
    color: #3A3A3A;
    font-weight: 700;
    font-size: 24px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 34px;
}

.menu ul {
    display: flex;
    gap: 34px;
}

.menu ul li {
    list-style: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
}

.menu .fa-magnifying-glass,
.menu .fa-cart-plus {
    font-size: 24px;
}

/* banner styles */
.banner {
    /* padding: 0 126px; */
    margin: 0 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 133px;
}

.banner .banner-title {
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}

.banner .banner-description {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    margin: 16px 0;
}

.pink-btn {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #E02C6D;
    border-radius: 41px;
    width: 196px;
    height: 44px;
    border: 0;
}

.btn-arrow {
    margin-left: 8px;
}

.banner img {
    width: 440px;
    height: 414px;
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 94%;
}

/* logos section styles */
.logos-container {
    margin: 100px 165px;
}

.logos-container .logos {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    /* height: 110px; */
}

.logos img {
    width: 100%;
}

.opacity-border {
    /* border-top: 0;
    border-bottom: 0; */
    border: 0;
    height: 1px;
    /* background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); */
    /* figma gradient */
    background-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

/* products container styles */

.products-container {
    margin: 0 196px;
}

.products-container .products-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
}

.products-container .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.products-container .product {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px 15px;
}

.product-img img {
    width: 100%;
}

.product-detail .product-name {
    margin-top: 16px;
    color: #18191F;
    font-size: 28px;
}

.product-detail .full-star,
.product-detail .half-star {
    color: #FB8200;
    font-size: 11px;
}

.product-detail .rating {
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
    margin-left: 8px;
}

.product-detail .product-price {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 24px;
    margin-top: 6px;
}

.product-detail .product-description {
    color: #787885;
    font-weight: 700;
    font-size: 14px;
}

#see-more {
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    margin-top: 50px;
}

/* featured products styles */
.featured-products-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 96px;
    margin: 100px 165px;
}

.featured-products-img {
    width: 100%;
}

.featured-products-detail .featured-products-title {
    color: #0A0826;
    font-weight: 700;
    font-size: 38px;
}

.featured-products-detail .featured-products-description {
    color: #6C6C6C;
    font-weight: 700;
    font-size: 16px;
    margin: 16px 0;
}

/* footer styles */
.footer {
    height: 239px;
    background: #0A0826;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
}

.footer-description {
    color: #D9DBE1;
    font-weight: 700;
    font-size: 14px;
    margin-top: 3px;
}

.social-icon-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 17px;
}

.social-icon {
    color: orangered;
    background-color: #FFFFFF;
    /* opacity: 0.1; */
    border-radius: 50%;
    padding: 8px 8.5px;
    text-align: center;
}

/* ..........................
media quires 
...............*/

/* mobile phone */
@media screen and (max-width: 575px) {
    nav {
        padding: 35px 16px 22px 16px;
    }

    nav .bar-hide {
        display: block;
    }

    nav .nav-title {
        font-size: 16px;
    }

    .menu ul,
    .menu .search-hide {
        display: none;
    }

    .banner {
        margin: 0 22px;
        flex-direction: column-reverse;
        gap: 14px;
    }

    .banner .banner-details {
        text-align: center;
    }

    .banner .banner-title {
        font-size: 28px;
    }

    .banner img {
        width: 202px;
        height: 190px;
    }

    .logos-container {
        margin: 50px 42px;
    }

    .logos-container .logos {
        gap: 30px;
        flex-wrap: wrap;
    }

    .logos img {
        width: 60px;
    }

    .opacity-border {
        display: none;
    }

    .products-container {
        margin: 0;
    }

    .products-container .products {
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-products-container {
        flex-direction: column-reverse;
        gap: 50px 30px;
        margin: 30px;
    }

    .featured-products-detail {
        text-align: center;
    }
}

/* tablet device */
@media screen and (min-width: 576px) and (max-width:991px) {
    nav {
        padding: 35px 26px 22px 26px;
    }

    nav .bar-hide {
        display: block;
    }

    .menu ul {
        display: none;
    }

    .banner {
        margin: 0 22px;
        flex-direction: column-reverse;
        gap: 14px;
    }

    .banner .banner-details {
        text-align: center;
    }

    .logos-container {
        margin: 50px 42px;
    }

    .logos-container .logos {
        gap: 30px;
        flex-wrap: wrap;
    }

    .opacity-border {
        display: none;
    }

    .products-container {
        margin: 0;
    }

    .products-container .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .featured-products-container {
        flex-direction: column-reverse;
        gap: 50px 30px;
        margin: 30px;
    }

    .featured-products-detail {
        text-align: center;
    }
}

/*  */
@media screen and (min-width: 992px) {
    .logos-container .logos {
        height: 110px;
    }
}